@media screen and (max-width: 576px) {


    .menu-container-fluid, .menu-container, .menu-row {
        height: auto;
        position: relative;
        margin: 0;
        padding: 0;
    }
    #btn-burger {
        display: flex;
    }

    /*---------- MENU ACTIVO Y OCULTO -------------*/
    .menu-activo {
        background-color: #F9F9F9;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.357);
        width: 75vw;
        height: 100vh;
        padding: 30px 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        /* left: 0px; */
        top: 0px;
        right: 0px;
        z-index: 4;
        transition: 0.4s;
    }
    .menu-activo ul {
        /* border: 1px solid red; */
        height: 95vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    .menu-activo li {
        /* border: 1px solid orangered; */
        margin: 10px 15px;
        width: auto;
        padding: 10px 0px;
    }
    .menu-activo li a {
        font-size: 20px;
        color: #000000;
    }
    .menu-oculto {
        right: -75vw;
    }
    #enlace {
        color: #000000;
        width: 100%;
    }
    #enlace:hover {
        color: #B1C447;
        font-weight: lighter;
    }

    .burguer-icon_marco {
        border: 2px solid #525252;
        border-radius: 50px;
        width: 56px;
        height: 120px;
        position: fixed;
        bottom: 50px;
        right: 12px;
        z-index: 2;
    }
    .burguer-icon_marco:hover {
        border: 2px solid #F9F9F9;
    }

    /* -------------------------------------------- */
    /* ------------BOTON CONTACTO------- */
    /* -------------------------------------------- */
    body .btn-contacto {
        width: 40px;
        bottom: 60px;
        right: 20px;
        z-index: 0;
    }


    /* -------------------------------------------- */
    /* ------------HEADER------- */
    /* -------------------------------------------- */

    body .header-fluid .header-container .header-row .header-1 {
        width: 90%;
    }

    body .header-fluid .header-container .header-row .header-2 {
        border-top: 4px solid white;
        width: 10%;
    }


}