@media (min-width: 576px) and (max-width: 768px) {

    /* --------------BTN CONTACTO------------------------------------------------ */
    body .btn-contacto {
        border-radius: 5px 0px 0px 5px;
        width: 50px;
        height: 50px;
        right: 0;
    }
    body .btn-contacto img {
        border-radius: 5px 0px 0px 5px;
        box-shadow: 3px 3px 7px #525252;
    }

    /* --------------MENU----------------------------------------------------- */
    body .menu-container-fluid {
        padding: 0px;
    }
    body .menu-container-fluid .menu-container .menu-row nav {
        justify-content: center;
    }
    body .menu-container-fluid .menu-container .menu-row nav ul a {
        text-decoration: none;
        margin: 0px 15px;
    }

    /* ---------HEADER-------------------------------------------------------- */
    body .header-fluid .header-container .header-row .header-1 {
        width: 55%;
    }
    body .header-fluid .header-container .header-row .header-2 {
        border-top: 4px solid white;
        width: 40%;
    }

    /* ---------FRASE-------------------------------------------------------- */
    body .frase-fluid {
        height: 100vh;
    }
    body .frase-fluid .frase-container .frase-row {
        height: 100%;
    }
    /* Etiqueta laterol del logo */
    body .frase-fluid .frase-container .frase-row figure {
        width: 30px;
        height: 30px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo span {
        font-size: 80px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo h4 {
        font-size: 1.2rem;
    }


    /* ---------COMENTARIOS DE LOS CLIENTES------------------------------------ */
    body .comentarios-fluid {
        height: 100%;
        margin-top: 20px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row {
        height: auto;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row figure {
        width: 30px;
        height: 30px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_titulo {
        margin-bottom: 50px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_titulo h3 {
        font-size: 17px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body {
        flex-direction: column;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B {
    height: auto;
    width: 100%;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 {
        margin: 0px 0px 30px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1 span,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2 span,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3 span,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1 span,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2 span,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 span {
        height: 50px;
        font-size: 60px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 p {
        margin: 0;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase {
        margin-top: 50px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase p {
        font-size: 1rem;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase h4 {
        font-size: 1.4rem;
    }

    /* ---------------------------------------------------------------------------- */
    /*              PORQUE NOS ELEGIS */
    /* -------------QUE ES UNA CONSULTORA 360 */
    body .porque-fluid .porque-container .porque-row h5 {
        width: 90%;
    }
    body .porque-fluid .porque-container .porque-row figure {
        width: 30px;
        height: 30px;
    }
    body .porque-fluid .porque-container .porque-row .porque-row_linea {
        width: 90%;
    }
    body .porque-fluid .porque-container .porque-row .porque-row_linea div {
        margin: 0px 8px 0px 25px;
    }

    /* ---------------------------------------------------------------------------- */
    /*              NUESTROS SERVICIOS              */
    /* ----------------------------------------------------------------------------- */

    body .servicios-fluid .servicios-container .servicios-row {
        height: 100px;
    }
    body .servicios-fluid .servicios-container .servicios-row h2 {
        font-size: 2rem;
    }

    /* ------------los servicios------------------------------------- */
    body .serv-fluid .serv-container .serv-row1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #serv-row1-reverse {
        flex-direction: column-reverse;
    }
    
    body .serv-fluid .serv-container .serv-row1 .serv-row1_A {
        width: 100%;
        margin-bottom: 35px;
    }
    body .serv-fluid .serv-container .serv-row1 .serv-row1_B {
        width: 100%;
        height: 250px;
    }
    body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 h3 {
        margin: 0px 80px;
    }

    /* ------------------------------------------------------------------ */
    /*             SIGUIENTE NIVEL */
    body .siguiente-fluid {
        height: 350px;
    }
    body .siguiente-fluid .siguiente-container .siguiente-row figure {
        width: 35px;
        height: 35px;
    }
    body .siguiente-fluid .siguiente-container .siguiente-row p {
        font-size: 12px;
        text-align: center;
    }
    body .siguiente-fluid .siguiente-container .siguiente-row h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    /* ------------------------------------------------------------------ */
    /*             LAS OTRAAS M */

    body .point-fluid {
        height: auto;
    }
    body .point-fluid .point-container .point-row {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    body .point-fluid .point-container .point-row .point-row_A,
    body .point-fluid .point-container .point-row .point-row_B {
        height: 100%;
        width: 100%;
        margin-bottom: 50px;
    }

    /* ------------------------------------------------------------------ */
    /*             FOOTER -----------*/
    /* ------------------------------------------------------------------ */
    body .footer-fluid .footer-container .footer-row {
        height: 100%;
    }
    body .footer-fluid .footer-container .footer-row .footer-row_inf .linea-blanca {
        border-left: 1px solid #F9F9F9;
        margin-left: 7px;
        height: 50px;
    }





}