@media screen and (max-width: 575px) {


    .menu-container-fluid, .menu-container, .menu-row {
        height: auto;
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: none;
    }
    #btn-burger {
        display: flex;
    }

    /*---------- MENU ACTIVO Y OCULTO -------------*/
    .menu-activo {
        background-color: #F9F9F9;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.357);
        width: 75vw;
        height: 100vh;
        padding: 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        /* left: 0px; */
        top: 0px;
        right: 0px;
        z-index: 4;
        transition: 0.4s;
    }
    .menu-activo ul {
        /* border: 1px solid red; */
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    .menu-activo li {
        /* border: 1px solid orangered; */
        margin: 10px 35px;
        padding: 0;
        width: auto;
        padding: 10px 0px;
    }
    .menu-activo li a {
        font-size: 18px;
        color: #000000;
    }
    .menu-oculto {
        right: -75vw;
    }
    #enlace {
        margin: 0;
        padding: 20px 0px;
        color: #000000;
        width: 100%;
    }
    #enlace:hover {
        color: #B1C447;
        font-weight: lighter;
    }

    .burguer-icon_marco {
        border: 2px solid #525252;
        border-radius: 50px;
        width: 56px;
        height: 120px;
        position: fixed;
        bottom: 50px;
        right: 12px;
        z-index: 2;
    }
    .burguer-icon_marco:hover {
        border: 2px solid #F9F9F9;
    }

    /* -------------------------------------------- */
    /* ------------BOTON CONTACTO------- */
    /* -------------------------------------------- */
    body .btn-contacto {
        width: 40px;
        bottom: 60px;
        right: 20px;
        z-index: 0;
    }


    /* -------------------------------------------- */
    /* ------------HEADER------- */
    /* -------------------------------------------- */

    body .header-fluid .header-container .header-row .header-1 {
        width: 90%;
    }

    body .header-fluid .header-container .header-row .header-2 {
        border-top: 4px solid white;
        width: 10%;
    }
    
    /* ------------------------------------------------------ */
    /*           FRASE     */
    /* ------------------------------------------------------ */
    body .frase-fluid .frase-container .frase-row figure {
        width: 30px;
        height: 30px;
        padding: 0;
        bottom: 70px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo {
        padding: 0px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo span {
        font-size: 80px;
        margin-right: 0;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo h4 {
        font-size: 1rem;
    }

    /* ------------------------------------------------------ */
    /*           COMENTARIOS DE LOS CLIENTES     */
    /* ------------------------------------------------------ */
    body .comentarios-fluid {
        height: 100%;
        padding: 0;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row {
        height: auto;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row figure {
        width: 30px;
        height: 30px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_titulo {
        margin-bottom: 60px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_titulo h3 {
        font-size: 18px;
        text-align: center;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body {
        flex-direction: column;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B {
        width: 100%;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 {
        margin: 0px 0px 50px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2 p,
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 p {
        font-size: 1rem;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase {
        margin-top: 100px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase p {
        text-align: center;
        margin-bottom: 10px;
    }
    body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase h4 {
        font-size: 1.4rem;
        text-align: center;
    }

    /* ---------------------------------------------------------------------------- */
    /*              PORQUE NOS ELEGIS */

    body .porque-fluid .porque-container .porque-row .porque-row_linea div {
        width: 10px;
        margin: 0px 8px 0px 10px;
    }
    body .porque-fluid .porque-container .porque-row .porque-row_linea p {
        text-align: justify;
        margin-bottom: 20px;
        padding-right: 20px;
    }










}