@media (min-width: 576px) and (max-width: 768px) {

    /* --------------MENU----------------------------------------------------- */
    body .menu-container-fluid {
        padding: 0px;
    }
    body .menu-container-fluid .menu-container .menu-row nav {
        justify-content: center;
    }
    body .menu-container-fluid .menu-container .menu-row nav ul a {
        text-decoration: none;
        margin: 0px 15px;
    }

    /* ---------HEADER-------------------------------------------------------- */
    body .header-fluid .header-container .header-row .header-1 {
        width: 55%;
    }
    body .header-fluid .header-container .header-row .header-2 {
        border-top: 4px solid white;
        width: 40%;
    }

    /* ---------FRASE-------------------------------------------------------- */
    body .frase-fluid {
        height: 100vh;
    }
    body .frase-fluid .frase-container .frase-row {
        height: 100%;
    }
    /* Etiqueta laterol del logo */
    body .frase-fluid .frase-container .frase-row figure {
        width: 30px;
        height: 30px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo span {
        font-size: 80px;
    }
    body .frase-fluid .frase-container .frase-row .frase_row_titulo h4 {
        font-size: 1.2rem;
    }

    /* ---------COMENTARIOS DE LOS CLIENTES------------------------------------ */
    body .comentarios-fluid .comentarios-container .comentarios-row figure {
        width: 30px;
        height: 30px;
    }






}