* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

ul, li {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

body {
  background-color: #F9F9F9;
}
body .burger-icon {
  background-color: #525252;
  border-radius: 0px 0px 5px 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
  display: none;
}
body .burger-icon img {
  width: 30px;
  height: 30px;
}
body .burger-icon:hover {
  border: 5px solid #B1C447;
}
body .menu-container-fluid {
  background-color: #000000;
  height: auto;
  padding: 10px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}
body .menu-container-fluid .menu-container {
  /* border: 1px solid red; */
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
body .menu-container-fluid .menu-container .menu-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .menu-container-fluid .menu-container .menu-row nav {
  height: auto;
  display: flex;
  justify-content: flex-end;
}
body .menu-container-fluid .menu-container .menu-row nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
body .menu-container-fluid .menu-container .menu-row nav ul a {
  text-decoration: none;
  margin: 0px 0px 0px 35px;
  color: #F9F9F9;
  padding-bottom: 15px;
}
body .menu-container-fluid .menu-container .menu-row nav ul a:hover {
  color: #B1C447;
  transition: 0.4s;
}
body .btn-contacto {
  border-radius: 5px 0px 0px 5px;
  width: 60px;
  width: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 2;
}
body .btn-contacto img {
  border-radius: 5px;
  width: 100%;
}
body .modal_contacto {
  padding-top: 0;
}
body .modal_contacto .contact_header {
  padding: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .modal_contacto .contact_header img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: absolute;
  top: -80px;
}
body .modal_contacto .contact_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .modal_contacto .contact_body p {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: bold;
}
body .modal_contacto .contact_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .modal_contacto .contact_footer .contact_btn {
  background-color: #B1C447;
  color: #000000;
  border: none;
}
body .modal_contacto .contact_footer .contact_btn a {
  color: #000000;
}
body .header-fluid {
  height: 100vh;
  background-color: #000000;
}
body .header-fluid .header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .header-fluid .header-container .header-row {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .header-fluid .header-container .header-row .header-1 {
  width: 35%;
}
body .header-fluid .header-container .header-row .header-1 img {
  width: 100%;
}
body .header-fluid .header-container .header-row .header-2 {
  border-top: 4px solid white;
  width: 50%;
}
body .frase-fluid {
  height: 70vh;
  position: relative;
  z-index: -1;
}
body .frase-fluid .frase-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .frase-fluid .frase-container .frase-row {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .frase-fluid .frase-container .frase-row figure {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  left: 0px;
}
body .frase-fluid .frase-container .frase-row figure img {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 3px 3px 7px #b8b8b8;
}
body .frase-fluid .frase-container .frase-row .frase_row_titulo {
  height: auto;
}
body .frase-fluid .frase-container .frase-row .frase_row_titulo span {
  font-size: 150px;
  font-weight: bold;
  margin-right: 10px;
  color: #b8b8b8;
  font-family: Arial, Helvetica, sans-serif;
}
body .frase-fluid .frase-container .frase-row .frase_row_titulo h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .frase-fluid .frase-container .frase-row .frase_row_autor {
  height: auto;
  text-align: center;
}
body .comentarios-fluid {
  height: auto;
  margin: 100px 0px 50px;
  position: relative;
  z-index: -1;
}
body .comentarios-fluid .comentarios-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .comentarios-fluid .comentarios-container .comentarios-row {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .comentarios-fluid .comentarios-container .comentarios-row figure {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 0px;
  bottom: 50%;
}
body .comentarios-fluid .comentarios-container .comentarios-row figure img {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 3px 3px 7px #b8b8b8;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_titulo {
  height: auto;
  width: 100%;
  margin-bottom: 100px;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B {
  height: auto;
  width: 45%;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 {
  height: auto;
  margin: 0px 0px 50px;
  border-left: 4px solid #b8b8b8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1 span,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2 span,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3 span,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1 span,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2 span,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 span {
  height: 70px;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  color: #b8b8b8;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_1 p,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_2 p,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_A .comentarios-row_body_A_3 p,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_1 p,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_2 p,
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_body .comentarios-row_body_B .comentarios-row_body_A_3 p {
  margin: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase p {
  margin: 0;
  font-size: 1.2rem;
}
body .comentarios-fluid .comentarios-container .comentarios-row .comentarios-row_frase h4 {
  color: #525252;
  font-size: 1.6rem;
  font-weight: bold;
}
body .porque-fluid {
  height: auto;
  margin: 200px 0px 100px;
  position: relative;
  z-index: -1;
}
body .porque-fluid .porque-container {
  height: 100%;
}
body .porque-fluid .porque-container .porque-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .porque-fluid .porque-container .porque-row figure {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 50%;
}
body .porque-fluid .porque-container .porque-row figure img {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 3px 3px 7px #b8b8b8;
}
body .porque-fluid .porque-container .porque-row h3 {
  font-weight: bold;
  margin-bottom: 50px;
}
body .porque-fluid .porque-container .porque-row #quees {
  margin-bottom: 20px;
}
body .porque-fluid .porque-container .porque-row p {
  margin-bottom: 50px;
}
body .porque-fluid .porque-container .porque-row h5 {
  margin-bottom: 30px;
  width: 70%;
}
body .porque-fluid .porque-container .porque-row .porque-row_linea {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
body .porque-fluid .porque-container .porque-row .porque-row_linea div {
  width: 10px;
  margin: 0px 8px 0px 35px;
}
body .porque-fluid .porque-container .porque-row .porque-row_linea div img {
  width: 100%;
}
body .porque-fluid .porque-container .porque-row .porque-row_linea p {
  text-align: start;
  width: 100%;
}
body .servicios-fluid {
  height: auto;
}
body .servicios-fluid .servicios-container {
  height: 100%;
}
body .servicios-fluid .servicios-container .servicios-row {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .servicios-fluid .servicios-container .servicios-row h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: end;
}
body .serv-fluid {
  height: auto;
}
body .serv-fluid .serv-container {
  height: 100%;
}
body .serv-fluid .serv-container .serv-row1 {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_A {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_A h2 {
  width: 100%;
  padding: 50px 0px 30px;
  font-weight: bold;
  font-size: 25px;
  text-align: start;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_A p {
  text-align: justify;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas ul {
  margin-left: 50px;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas #google {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas #google figure {
  width: 170px;
  margin: 0px 0px 0px 10px;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas #google figure img {
  width: 100%;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas #google-txt {
  margin: 10px 0px 0px 50px;
  font-size: 14px;
  color: #525252;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B {
  padding: 0;
  width: 35%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 {
  background-color: #b8b8b8;
  color: #ffffff;
  font-family: "Monsterrat", sans-serif;
  font-size: 16px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 0;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538:after {
  background-color: #B1C447;
  bottom: 0;
  content: "";
  height: 0%;
  left: 0;
  position: absolute;
  width: 10px;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  object-fit: cover;
  z-index: 0;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 figcaption {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  line-height: 1em;
  opacity: 0;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 h3 {
  text-align: start;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 60px;
  text-transform: uppercase;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538 h3 span {
  display: block;
  font-weight: 600;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538:hover > img,
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538.hover > img {
  opacity: 0.1;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538:hover:after,
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538.hover:after {
  height: 100%;
}
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538:hover figcaption,
body .serv-fluid .serv-container .serv-row1 .serv-row1_B .snip1538.hover figcaption {
  opacity: 1;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .serv-fluid .serv-container .serv-row1 #serv_listas2 ul {
  margin-left: 50px;
}
body .siguiente-fluid {
  height: 550px;
  position: relative;
  z-index: -1;
}
body .siguiente-fluid .siguiente-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .siguiente-fluid .siguiente-container .siguiente-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .siguiente-fluid .siguiente-container .siguiente-row figure {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  left: 0px;
}
body .siguiente-fluid .siguiente-container .siguiente-row figure img {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 3px 3px 7px #b8b8b8;
}
body .siguiente-fluid .siguiente-container .siguiente-row p {
  width: auto;
  margin-bottom: 5px;
  font-size: 20px;
}
body .siguiente-fluid .siguiente-container .siguiente-row h3 {
  font-weight: bold;
  color: #B1C447;
  font-size: 32px;
}
body .otrasm-fluid {
  height: 400px;
}
body .otrasm-fluid .otrasm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .otrasm-fluid .otrasm-container .otrasm-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body .otrasm-fluid .otrasm-container .otrasm-row h2 {
  width: auto;
  margin: 0;
  font-size: 55px;
  font-weight: bold;
}
body .otrasm-fluid .otrasm-container .otrasm-row figure {
  width: 80px;
  margin: 0;
}
body .otrasm-fluid .otrasm-container .otrasm-row figure img {
  width: 100%;
}
body .point-fluid {
  height: 100vh;
}
body .point-fluid .point-container {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .point-fluid .point-container .point-row {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .point-fluid .point-container .point-row .point-row_A,
body .point-fluid .point-container .point-row .point-row_B {
  height: 80%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .point-fluid .point-container .point-row .point-row_A {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .point-fluid .point-container .point-row .point-row_A figure {
  width: 200px;
}
body .point-fluid .point-container .point-row .point-row_A p {
  font-size: 14px;
  text-align: justify;
}
body .point-fluid .point-container .point-row .point-row_A h4 {
  color: #525252;
  font-weight: bold;
  text-align: end;
  width: 100%;
}
body .point-fluid .point-container .point-row .point-row_A ul li {
  font-size: 14px;
}
body .point-fluid .point-container .point-row .point-row_B {
  cursor: pointer;
  padding: 0;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 {
  font-family: "Roboto", sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #F9F9F9;
  background-color: #000000;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  right: 70%;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: skew(20deg) translateX(-75%);
  transform: skew(20deg) translateX(-75%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 h3,
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 .links {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 h3 {
  font-weight: 900;
  font-size: 1.5em;
  color: #F9F9F9;
  margin: 50px 0 20px 0;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 .links {
  font-size: 0.8em;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 .links li {
  color: #F9F9F9;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  list-style: none;
}
body .point-fluid .point-container .point-row .point-row_B #vermas {
  background-color: #525252;
  margin-top: 80px;
  padding: 5px 30px;
  border: none;
}
body .point-fluid .point-container .point-row .point-row_B #vermas a:hover {
  color: #B1C447;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 a {
  padding: 2px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437 a:hover {
  color: #f39c12;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover:after,
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover:after {
  -webkit-transform: skew(20deg) translateX(0%);
  transform: skew(20deg) translateX(0%);
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover img,
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover li,
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover li {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover li:first-child,
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover li:nth-child(2),
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover li:nth-child(3),
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
body .point-fluid .point-container .point-row .point-row_B figure.snip1437:hover li:nth-child(4),
body .point-fluid .point-container .point-row .point-row_B figure.snip1437.hover li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
body .footer-fluid {
  background-color: #000000;
  height: 100vh;
}
body .footer-fluid .footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .footer-fluid .footer-container .footer-row {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .footer-fluid .footer-container .footer-row .footer-row_sup,
body .footer-fluid .footer-container .footer-row .footer-row_inf {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .footer-fluid .footer-container .footer-row .footer-row_sup {
  margin-bottom: 40px;
}
body .footer-fluid .footer-container .footer-row .footer-row_sup figure {
  width: 80px;
  margin: 0;
}
body .footer-fluid .footer-container .footer-row .footer-row_sup figure img {
  width: 100%;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf {
  padding-left: 25px;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf .footer-row_inf_redes {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf .footer-row_inf_redes a {
  width: 13px;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf .footer-row_inf_redes a img {
  width: 100%;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf .footer-row_inf_redes p {
  margin: 0 0 0 20px;
  color: #F9F9F9;
  font-size: 11px;
}
body .footer-fluid .footer-container .footer-row .footer-row_inf .linea-blanca {
  border-left: 1px solid #F9F9F9;
  margin-left: 7px;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
