@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-size: 14px;
}

body {
    background-color: $color-blanco;

    // ------------------------------------------------------------
    //           BOTON HAMBURGUEZA
    // ------------------------------------------------------------
    .burger-icon {
        background-color: $color-gris;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: fixed;
        bottom: 120px;
        right: 20px;
        z-index: 3;
        display: none;
    }
    //    queda pendiente efecto hover neon
    .burger-icon:hover {
        border: 5px solid $color-verde;
    }

    // ------------------------------------------------------------
    //           BARRA DE NAVEGACIÓN
    // ------------------------------------------------------------

    .menu-container-fluid {
        // border: 1px solid orangered;
        background-color: $color-negro;
        height: auto;
        padding: 10px 0px 0px;
        position: sticky;
        top: 0;
        z-index: 1;
    
        .menu-container {
            /* border: 1px solid red; */
            height: 50px;
            font-family: $fuente-parrafos;
            font-weight: bold;
    
            .menu-row {
                // border: 1px solid magenta;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
    
                nav {
                    // border: 1px solid springgreen;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
    
                    ul {
                        list-style: none;
                        display: flex;
                        margin: 0px;
                        padding: 0px;
    
                        a {
                            text-decoration: none;
                            margin: 0px 0px 0px 35px;
                            color: $color-blanco;
                            padding-bottom: 15px;
                        }
                        a:hover {
                            color: $color-verde;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }

    // ------------------------------------------------------------
    //            BOTON DE CONTACTO
    // ------------------------------------------------------------

    .btn-contacto {
        width: 60px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 8%;
        z-index: 1;

        img {
            width: 100%;
        }
    }
    .contacto-button:hover {
        border: 4px solid $color-blanco;
    }

    // ------------------MODAL-----------------------------
    .modal_contacto {
        // border: 1px solid red;
        padding-top: 0;

        .contact_header {
            // border: 1px solid blue;
            padding: 0;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                width: 130px;
                height: 130px;
                position: absolute;
                top: -80px;
            }
        }

        .contact_body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            p {
                font-family: $fuente-parrafos;
                color: $color-negro;
                font-weight: bold;
            }
        }

        .contact_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contact_btn {
                background-color: $color-verde;
                color: $color-negro;
                border: none;
            }
        }
    }

    // ------------------------------------------------------------------
    //           HEADER
    // ------------------------------------------------------------------

    .header-fluid {
        // border: 1px solid blue;
        height: 100vh;
        background-color: $color-negro;

        .header-container {
            // border: 1px solid cornflowerblue;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .header-row {
                // border: 1px solid orangered;
                height: 40%;
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .header-1 {
                    width: 35%;

                    img {
                        width: 100%;
                    }
                }

                .header-2 {
                    border-top: 4px solid white;
                    width: 50%;
                }
            }
        }
    }

    // ------------------------------------------------------------------
    //           FRASE
    // ------------------------------------------------------------------
    .frase-fluid {
        border: 1px solid blue;
        height: 70vh;
        position: relative;
        z-index: -1;

        .frase-container {
            border: 1px solid green;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .frase-row {
                border: 1px solid orangered;
                height: 80%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                figure {
                    // border: 1px solid red;
                    // background-color: $color-negro;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    position: absolute;
                    left: 0px;

                    img {
                        width: 100%;
                        border-radius: 0px 5px 5px 0px;
                        box-shadow: 3px 3px 7px $color-gris;
                    }
                }

                .frase_row_titulo {
                    // border: 1px solid brown;
                    height: auto;

                    span {
                        font-size: 150px;
                        margin-right: 10px;
                        color: $color-gris;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    h4 {
                        font-size: 2.5rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .frase_row_autor {
                    // border: 1px solid brown;
                    height: auto;
                    width: auto;
                    text-align: center;
                    margin-left: 50%;
                }
            }
        }
    }

















    // -----------------------------------------
    //           COMENTARIOS
    // -------------------------------------------
    .coment-fluid {
        // border: 1px solid blue;
        height: 100vh;

        .coment-container {
            // border: 1px solid orangered;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .coment-row {
                // border: 1px solid crimson;
                height: 90%;
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                figure {
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }

                .coment_row_content {
                    // border: 1px solid green;
                    width: 35%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .coment_0 {
                        background-color: $color-gris;
                        border-radius: 50%;
                        border: 1px solid $color-negro;
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.371);
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        transition: 0.4s;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        p {
                            // border: 1px solid red;
                            height: 100%;
                            color: $color-gris;
                            text-align: justify;
                            padding: 0px 10px;
                            margin: 0;
                            font-size: 1px;
                            transition: 0.5s;
                        }
                    }
                    .coment_0:hover {
                        width: 90%;
                        height: 70px;
                        border-radius: 5px;
                    }
                    .coment_0 p:hover {
                        color: $color-negro;
                        font-size: 14px;
                    }

                }
            }
        }
    }
}