// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris: #b8b8b8;
$color-verde: #B1C447;
$color-blanco: #F9F9F9;

// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Roboto', sans-serif;;
$fuente-parrafos: 'Montserrat', sans-serif;